.description p {
  font-size: 0.7rem;
}

.description .row {
  margin: 0;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-default {
  background-color: #777;
}

.base-path {
  width: 60%;
}

input::placeholder {
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}
